.home {
  @media screen and (min-width: 1024px) {
    flex: 0 0 68% !important;
  }

  &__header {
    h1 {
      display: none;
      font-size: 24px;
      font-weight: 500;
      line-height: 30px;
      color: $black;

      @include breakpoint(md) {
        display: block;
      }
    }

    a {
      font-size: 14px;
      line-height: 37px;
      color: $dark-blue;
      display: flex;
      align-items: center;
      img {
        margin-left: 5px;
      }
    }
  }

  &__article {
    &__item {
      border-top: 1px solid #e5e5e5;
      padding-top: 20px;
      padding-bottom: 20px;

      &__detail {
        .article-avatar {
          margin-right: 10px;
          width: 48px;
          height: 48px;
          object-fit: cover;
          overflow: hidden;

          img {
            width: 100%;
          }
        }
        .article-category {
          font-size: 13px;
          color: $grey;
          font-weight: 500;
          margin-bottom: 5px;
        }

        .article-title {
          font-size: 18px;
          color: $dark-blue;
          font-weight: 400;
          margin-bottom: 5px;
        }

        .article-history {
          & > div:first-of-type {
            & > .article-action {
              position: relative;

              &::before {
                position: absolute;
                content: "•";
                top: 50%;
                left: -10px;
                transform: translateY(-50%);
              }
            }
          }
        }

        .article-user {
          font-size: 13px;
          color: $red;
          font-weight: 400;
        }

        .article-action {
          font-size: 13px;
          color: $grey;
          font-weight: 400;
          margin: 0 8px;
        }

        .article-replies {
          height: 24px;
          background-color: $light-grey;
          color: $grey;
          padding: 5px;
          border-radius: 2px;

          img {
            height: 18px;
            margin-right: 5px;
          }
        }
      }

      &__thumb {
        height: 180px;
        border-radius: 6px;
        overflow: hidden;
        object-fit: cover;
        margin-top: 12px;

        @media screen and (min-width: 768px) {
          width: 135px;
          height: 70px;
        }

        img {
          width: 100%;
        }
      }
    }

    &__loadmore {
      margin-bottom: 18px;
    }
  }
}
