// breakpoints min width
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

// fonts
$font-stack: Helvetica, sans-serif;

// colors
$black: #383a3b;
$grey: #686c6e;
$light-grey: #dfe3e4;
$blue: #3182e9;
$dark-blue: #1c3568;
$light-blue: #f0f3f5;
$red: #ce1124;
